# Dependencies
node_modules

# Nuxt / Nitro
.output
.data
.nuxt
.nitro
.cache
dist
.nuxtrc

# Logs
logs
*.log

# OS / editor
.DS_Store
.fleet
.idea

# Env
.env
.env.*
!.env.example
.wrangler

# Worktrees
.worktrees
